@font-face {
  font-family: RobotoLight;
  src: url('/font/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: RobotoMedium;
  src: url('/font/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: RobotoRegular;
  src: url('/font/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: RobotoBold;
  src: url('/font/Roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: RobotoBlack;
  src: url('/font/Roboto/Roboto-Black.ttf');
}
@font-face {
  font-family: RobotoThinItalic;
  src: url('/font/Roboto/Roboto-ThinItalic.ttf');
}
@font-face {
  font-family: RobotoThin;
  src: url('/font/Roboto/Roboto-Thin.ttf');
}

$Roboto100: RobotoThin, system-ui, Helvetica, Arial, sans-serif;
$Roboto300: RobotoLight, system-ui, Helvetica, Arial, sans-serif;
$Roboto400: RobotoRegular, system-ui, Helvetica, Arial, sans-serif;
$Roboto500: RobotoMedium, system-ui, Helvetica, Arial, sans-serif;
$Roboto700: RobotoBold, system-ui, Helvetica, Arial, sans-serif;
$Roboto900: RobotoBlack, system-ui, Helvetica, Arial, sans-serif;

$Roboto100i: RobotoThinItalic, system-ui, Helvetica, Arial, sans-serif;

// LightItalic
// MediumItalic
// BoldItalic
// BlackItalic
