$blue: #3e64ff;
$border: #f1f4f7;
$text-grey: #6b779a;
$text-placeholder: rgb(107, 119, 154, 0.5);
$text-fill: #222b45;
$text-stroke: #000000;
$input-fill: rgb(107, 119, 154, 0.05);
$input-fill2: #6b779a0d;
$gradient-fill: linear-gradient(
  rgb(107, 119, 154, 0.05),
  rgb(36, 40, 52, 0.05)
);
$solid-fill: #6b779a;

// details upper bg linear gradient from 0%ffffff 27% FEFEFE to 100% FCFAFA
// $gradient-bg: linear-gradient(to bottom, #ffffff, #fcfafa);
$gradient-bg: linear-gradient(to bottom, #ffffff 0%, #fefefe 27%, #fcfafa 100%);
