$blue: #3e64ff;
$border: #f1f4f7;
$text-grey: #6b779a;
$text-fill: #222b45;
$text-stroke: #000000;
$input-fill: #6b779a;
$gradient-fill: linear-gradient(rgb(107, 119, 154, 0.05), rgb(36, 40, 52, 0.05));
$solid-fill: #6B779A;