@import './partials/variables';
@import './partials/mixins';
@import './partials/fonts';

main.dashboard {
  h2 {
    @include text-style($Roboto700, 2rem, $text-fill);
    -webkit-text-stroke: 1px $text-stroke;
    text-shadow: 0 0.5rem 1rem $text-grey;
    margin-bottom: 1rem;
  }
  section.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.avatar-container {
      @include size(10rem, 10rem);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin-bottom: 4.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 1rem 3rem #fcfafa;

      div.blur-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: blur(1rem);
        z-index: 1;
      }
      img {
        width: 95%;
        height: 95%;
        object-fit: cover;
        object-position: center;
        position: relative;
        z-index: 2;
        border-radius: 50%;
      }
    }
  }

  section.my-appointments {
    section {
      div.sub-headline {
        display: flex;
      }
      div.item-wrapper {
        div.appt-item {
          margin-top: 1rem;
          border: 0.1px solid $border;

          p {
            padding: 0.2rem 0;

            &.warning {
              color: crimson;
            }
          }
          button.info {
            margin: 0.5rem;
          }

          dialog.modal {
            width: 90vw;
            margin: auto;
            padding: 2rem;
          }

          &.done {
            background-color: grey;
          }
        }
      }
    }
  }
}
