main.doctors {
  section.doctors-list {
    div.doctor-item {
      margin: 2rem 0;
      div.avatar-container {
        width: 100px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  section.doctors-search {
    div.upper-wrapper {
      div.flex {
        display: flex;
        justify-content: space-between;

        div.icon-container {
          background-color: blanchedalmond;
          border-radius: 5px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    div.searchbar {
      div.input-flex {
        display: flex;
      }

      div.suggestions-list {
        option.suggestion {
          cursor: pointer;
        }
      }
    }
  }
}
