@import './partials/variables';
@import './partials/mixins';
@import './partials/fonts';

header {
  margin-bottom: 2rem;
  div.demo-header {
    nav {
      display: flex;
      gap: 2rem;
    }
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }

  div.header-flex {
    @include text-style($Roboto400, 1.8rem, $text-stroke);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 2.5rem 1rem 2.5rem;

    div.right {
      div.home-right {
        display: flex;
        align-items: center;
      }
    }

    &.hidden {
      display: none;
    }
  }
}
