@import './partials/variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  // irgendwie wird die jetzt trotzdem wieder angezeigt?!
}

section {
  margin-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

div.error-boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 20vh;
  p,
  a {
    font-size: 1.2rem;
  }
  pre {
    color: $error;
    font-size: 1.8rem;
    padding: 1rem;
    margin-bottom: 2rem;
  }
}

div.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 20vh;
}

/* darkmode system preference css option (wenn man das mit js macht brauche ich das nicht mehr??) */

// @media (prefers-color-scheme: light) {
// ...
// }

// @media (prefers-color-scheme: dark) {
// ...
// }

//***** media queries *****//

//$ small tablets
@media screen and (min-width: 576px) {
  main.doctors {
    section.doctors-list {
      grid-template-columns: repeat(3, 31%);
      gap: 2rem 4%;
    }
  }
  main.appointment {
    section.calendar-days {
      div.days-grid {
        grid-template-columns: repeat(6, 1fr);
      }
    }
    section.time-slots {
      div.time-grid {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
  main.dashboard {
    section.profile section.dashboard-actions section.edit-profile,
    section.profile section.dashboard-actions section.edit-avatar,
    section.my-appointments div.section-grid {
      max-width: 576px;
      margin: 0 auto;
    }
    section.my-appointments
      section
      div.item-group
      div.appt-item
      div.patient-info
      dialog.modal {
      max-width: 65rem;
    }
  }
  header div.header-flex div.right dialog.modal {
    max-width: 50rem;
  }
}

// $ large tablets & laptops
@media screen and (min-width: 820px) {
  div#root {
    max-width: 992px;
    margin: 0 auto;
  }
  main.landingpage {
    section.specialty-list {
      div.list {
        grid-template-columns: repeat(4, 24%);
      }
    }
  }
  main.doctors {
    section.doctors-list {
      grid-template-columns: repeat(4, 21%);
      gap: 2rem 3%;
    }
  }
  main.appointment {
    section.calendar-days {
      div.days-grid {
        grid-template-columns: repeat(7, 1fr);
      }
    }
    section.time-slots {
      div.time-grid {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
  main.dashboard {
    section.my-appointments {
      div.section-grid {
        max-width: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
        margin: 0 2rem;
      }
    }
  }
}
